**/.cache
**/.parcel-cache
**/node_modules
**/tsconfig.tsbuildinfo
/.env
# Persistent storage, never commit
.data
# Assets to deploy are built here:
/.tmp
# Ignored but also force committed by github pages publishing script
docs
